{% extends 'layout/post_layout.html' %}
{% load static %}

    {% comment %}

    Este template contiene la estructura básica de HTML.
    Enlaza el archivo de estilos de TailwindCSS.

    {% endcomment %}

    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% block body class="bg bg-green-300" %}
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar cambios</button>
        <a href="{% url 'comment_list' %}">Cancelar</a>
        </form>
    {% endblock %}
</body>
</html>
