{% extends 'layout/page.html' %}

{% block content %}
<section id="main-section" class="px-2 md:px-4 py-4 mx-auto max-w-[var(--breakpoint-2xl)]">
    <div class="p-4 md:p-8 my-8 text-2xl md:text-3xl font-crimson rounded-xl bg-base-100 dark:bg-transparent shadow-lg shadow-base-800/20 dark:shadow-none">
        <h1 class="text-7xl md:text-9xl">
            Doble Dash
        </h1>
        <p class="pt-4 text-4xl md:text-6xl font-semibold text-primary-500">
            <svg class="inline w-[1em] h-[1em] mr-1 -translate-y-[0.1em]"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.4"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M20 12.5v4.75a.734 .734 0 0 1 -.055 .325a.704 .704 0 0 1 -.348 .366l-5.462 2.58a5 5 0 0 1 -4.27 0l-5.462 -2.58a.705 .705 0 0 1 -.401 -.691l0 -4.75" /><path d="M4.431 12.216l5.634 -2.332a5.065 5.065 0 0 1 3.87 0l5.634 2.332a.692 .692 0 0 1 .028 1.269l-5.462 2.543a5.064 5.064 0 0 1 -4.27 0l-5.462 -2.543a.691 .691 0 0 1 .028 -1.27z" /><path d="M12 7l0 6" /></svg>
            La mirada de los que juegan.
        </p>
        <p class="pt-8">
            <span class="italic font-semibold">Doble Dash</span> es un espacio digital dedicado a explorar el universo de
            los videojuegos desde múltiples perspectivas. Nacimos con el
            propósito de ofrecer noticias actualizadas, análisis profundos y
            discusiones significativas sobre el medio interactivo que ha
            transformado la cultura contemporánea.
        </p>
        <p class="pt-8">
            Creemos que los videojuegos son mucho más que entretenimiento: son
            una forma de arte, una herramienta de expresión y un reflejo de lo
            humano. Por eso, en Doble Dash no solo hablamos de lanzamientos y
            tendencias, sino que también nos sumergimos en las narrativas,
            mecánicas y emociones que hacen de cada juego una experiencia única.
        </p>
        <p class="pt-8">
            Nuestro foro es un punto de encuentro para quienes quieren pensar
            los videojuegos, compartir ideas, debatir con respeto y descubrir
            nuevas formas de mirar lo que jugamos.
        </p>
        <p class="pt-12 text-4xl md:text-6xl font-semibold text-primary-500">
            <svg class="inline w-[1em] h-[1em] mr-1 -translate-y-[0.1em]"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1.4"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.646 12.774c-1.939 .396 -4.467 .317 -6.234 -.601c-2.454 -1.263 -1.537 -4.66 1.423 -4.982c2.254 -.224 3.814 -.354 5.65 .214c.835 .256 1.93 .569 1.355 3.281c-.191 1.067 -1.07 1.904 -2.194 2.088z" /><path d="M5.84 7.132c.083 -.564 .214 -1.12 .392 -1.661c.456 -.936 1.095 -2.068 3.985 -2.456a22.464 22.464 0 0 1 2.867 .08c1.776 .14 2.643 1.234 3.287 3.368c.339 1.157 .46 2.342 .629 3.537v11l-12.704 -.019c-.552 -2.386 -.262 -5.894 .204 -8.481" /><path d="M17 10c.991 .163 2.105 .383 3.069 .67c.255 .13 .52 .275 .534 .505c.264 3.434 .57 7.448 .278 9.825h-3.881" /></svg>
            Nuestra Misión
        </p>
        <p class="pt-8">
            Amamos los videojuegos. Pero no solo por sus gráficos, sus mundos
            fantásticos o sus desafíos. Los amamos porque nos conectan, nos
            hacen sentir, nos invitan a pensar.
        </p>
        <p class="pt-8">
            Este proyecto nació de una pregunta: ¿qué pasa cuando tratamos a los
            videojuegos como lo que realmente son—una forma de arte, una
            expresión cultural, una ventana a lo humano? Desde entonces, nos
            propusimos crear un espacio donde esa mirada tenga lugar.
        </p>
        <p class="pt-8">
            Aquí vas a encontrar noticias, sí. Pero también vas a encontrar
            análisis que van más allá del hype, conversaciones que exploran lo
            simbólico, lo emocional, lo político y lo creativo de cada juego.
            Porque creemos que jugar también es una forma de pensar.
        </p>
        <p class="pt-8">
            Si alguna vez terminaste un juego y te quedaste pensando en lo que
            te hizo sentir, este lugar es para vos.
        </p>
    </div>
</section>
{% endblock %}
