{% extends 'layout/post_layout.html' %}
{% load static %}

    {% comment %}

    Este template contiene la estructura básica de HTML.
    Enlaza el archivo de estilos de TailwindCSS.

    {% endcomment %}

    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% block body class="bg bg-green-300" %}
        <form method="post">
        {% csrf_token %}
        <p>¿Estás seguro de que deseas eliminar "{{ object.nombre }}"?</p>
        <button type="submit">Confirmar</button>
        <!--a href="{% url 'post:post_list' slug=object.slug %}">Cancelar</a-->
        <a href="{% url 'post:post_detail' slug=object.slug %}">Cancelar</a>
</form>
    {% endblock %}
</body>
</html>
