{% load static %}

    {% comment %}

    Este template contiene la estructura básica de HTML.
    Enlaza el archivo de estilos de TailwindCSS.

    {% endcomment %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block html_title %}
            {{ html_title|default:"Blog" }}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body class="text-base-900 bg-base-50 dark:text-base-50 dark:bg-base-900">
    {% block body %}
    {% endblock %}
</body>
</html>