{% load static %}

    {% comment %}

    Este template contiene la estructura básica de HTML.
    Enlaza el archivo de estilos de TailwindCSS.

    {% endcomment %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ html_title }}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>