{% extends 'layout/page.html' %}

    {% comment %}
    
    Esta página muestra la información del usuario actual (logueado).
    TO-DO: Opciones para editar la información personal.
    
    {% endcomment %}

{% block content %}

    <div>
        <h1 class="text-2xl">{{ request.user.username }}</h1>
    </div>
    <form action="{% url 'user:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Cerrar Sesión">
    </form>
    <div>
        <h2 class="text-xl">Información personal</h2>
        <p>E-mail: {{ request.user.email }}</p>
        <p>Nombre: {{ request.user.first_name }}</p>
        <p>Apellido: {{ request.user.last_name }}</p>
    </div>
    <div>
        <h2 class="text-xl">Información adicional</h2>
        <p>Biografía: {{ request.user.profile.bio }}</p>
        <p>Imágen de perfil:</p>
        <img src="{% include 'user/components/profilePictureUrl.html' with user=request.user %}"
            alt="" class="w-48 h-48 rounded-full object-contain">
    </div>

    {% if links %}
    <ul>
        {% for link in links %}
        <li><a href="{% url link.url %}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
