{% extends 'layout/page.html' %}

    {% comment %}
    
    
    
    {% endcomment %}

{% block content %}

    <div>
        <h1 class="text-2xl">Editando {{ object.user.username }}</h1>
    </div>
    {% if not object.user.is_active %}
    <div>
        <p>Usuario Inactivo</p>
    </div>
    {% endif %}
    
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Guardar">
    </form>

    {% if links %}
    <ul>
        {% for link in links %}
        <li><a href="{% url link.url %}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
