{% extends 'layout/packed.html' %}

    {% comment %}
    
    
    
    {% endcomment %}

{% block packed %}
    <div>
        <h1 class="text-4xl text-center">{{ object.username }}</h1>
        <p class="text-xl text-center">Editando información personal</p>
    </div>
    
    {% if not object.is_active %}
    <div>
        <p>Usuario Inactivo</p>
    </div>
    {% endif %}
    
    <form action="." method="post" class="auth-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Guardar">
    </form>

    <ul class="py-4">
        {% if request.user.pk == object.pk %}
        <a class="hover:opacity-70 text-link transition-opacity" href="{% url 'user:self_detail' %}">Volver a mi perfil</a>
        {% elif perms.auth.change_user %}
        <a class="hover:opacity-70 text-link transition-opacity" href="{% url 'user:user_detail' object.pk %}">Volver al perfil</a>
        {% endif %}

        {% if links %}
        {% for link in links %}
        <li><a class="hover:opacity-70 text-link transition-opacity" href="{% url link.url %}">{{ link.text }}</a></li>
        {% endfor %}
        {% endif %}
    </ul>

{% endblock %}
