{% extends 'layout/page.html' %}

    {% comment %}
    
    
    
    {% endcomment %}

{% block content %}

    <div>
        <h1 class="text-2xl">{{ object.username }}</h1>
    </div>
    {% if not object.is_active %}
    <div>
        <p>Usuario Inactivo</p>
    </div>
    {% endif %}
    <div>
        <h2 class="text-xl">Información personal</h2>
        {% if perms.auth.change_user %}
        <a href="{% url 'user:user_update' object.pk %}">editar</a>
        {% endif %}
        <p>E-mail: {{ object.email }}</p>
        <p>Nombre: {{ object.first_name }}</p>
        <p>Apellido: {{ object.last_name }}</p>
    </div>
    <div>
        <h2 class="text-xl">Información adicional</h2>
        {% if perms.auth.change_user %}
        <a href="{% url 'user:user_update_profile' object.pk %}">editar</a>
        {% endif %}
        <p>Biografía: {{ object.profile.bio }}</p>
        <p>Imágen de perfil:</p>
        <img src="{% include 'user/components/profilePictureUrl.html' with user=object %}"
            alt="" class="w-48 h-48 rounded-full object-contain">
    </div>

    {% if links %}
    <ul>
        {% for link in links %}
        <li><a href="{% url link.url %}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
