{% extends 'layout/page.html' %}

{% block content %}
<section id="main-section" class="px-2 md:px-4 py-4 mx-auto max-w-[var(--breakpoint-2xl)]">
    <a href="{% url 'article:forum_list' %}" class="flex px-3 py-1 mb-4 items-center gap-2 w-fit text-lg rounded text-base-50 bg-primary-700 hover:bg-primary-500 transition-colors">
        <svg class="h-[1em] w-[1em]"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
        Foros
    </a>
    <div class="pb-8">
        <h1 class="text-4xl md:text-6xl">{{ object.title }}</h1>
        <p class="text-2xl">{{ object.short }}</p>
    </div>
    <ul class="grid gap-4 md:grid-cols-2">

        {% for obj in object.post_set.all %}
        {% include 'article/components/post_mini.html' with post=obj %}
        {% empty %}
        <a href="{% url 'article:forum_list' %}" class="group col-span-full">
            <li class="p-4 h-fit rounded-xl bg-base-100 dark:bg-base-800 shadow-lg shadow-base-800/20 dark:shadow-none outline-2 outline-transparent dark:outline-primary-700 md:group-hover:outline-primary-500 md:transition-colors">
                <h2 class="flex gap-3 items-center text-2xl md:text-3xl">
                    <svg class="h-[1em] w-[1em]"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                    Volver
                </h2>
                <p class="pt-2 text-lg line-clamp-1">
                    Aún no hay nada en este foro.
                </p>
            </li>
        </a>
        {% endfor %}
    </ul>
</section>
{% endblock %}