{% extends 'layout/page.html' %}

{% block content %}
<section id="main-section" class="px-2 md:px-4 py-4 mx-auto max-w-[var(--breakpoint-2xl)]">
    <h1 class="text-4xl md:text-6xl pb-4">Todos los Foros</h1>
    <ul class="py-4 grid gap-4 md:grid-cols-2">
        {% for obj in object_list %}
        {% include 'article/components/forum_mini.html' with forum=obj %}
        {% empty %}
        <li class="p-4 rounded-xl bg-base-100 dark:bg-transparent shadow-lg shadow-base-800/20 dark:shadow-none dark:outline-2 dark:outline-primary-700 col-span-full">
            <h2 class="flex gap-3 items-center text-2xl md:text-3xl">
                <svg class="h-[1em] w-[1em]"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 4c4.418 0 8 3.358 8 7.5c0 1.901 -.755 3.637 -2 4.96l0 2.54a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-2.54c-1.245 -1.322 -2 -3.058 -2 -4.96c0 -4.142 3.582 -7.5 8 -7.5z" /><path d="M10 17v3" /><path d="M14 17v3" /><path d="M9 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M15 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                Lo sentimos
            </h2>
            <p class="pt-2 text-lg line-clamp-1">
                Aún no hay foros disponibles.
            </p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
