{% extends 'layout/page.html' %}

{% block content %}

<section id="focus-section" class="py-8 px-1">
    <div class="w-full mx-auto p-4 md:p-8 max-w-xl rounded-xl dark:bg-base-800
    shadow-lg shadow-base-700/40 dark:shadow-none
    border border-base-950/20 dark:border-base-50/20">
        {% block packed %}
        <h1> Sobre este Blog: <h1>
            Este Blog es un trabajo colaborativo. Realizado por el Grupo N°1 de la Comisión N°3 del Informatorio Chaco.<br>
            Está orientado a la temática de videojuegos, tanto de Consola como de PC.
            Para los usuarios que le apasionan los juegos de Consola y Pc, en este espacio van a poder ver y gestionar los post. Encontrar las últimas novedades.
            <br>Esperamos que puedas registrarte para dejar tus comentarios. También podes comunicarte con nosotros a través de este Blog o nuestras redes sociales.
            <br>No te pierdas de esta oportunidad, unite a este Blog y vamos a compartir juntos las mejores informaciones de este mundo del entretenimiento.

        {% endblock %}
    </div>
</section>

{% endblock %}
